:root {
  --main-color: #1c1c1c;
  --fundo: #2b2a2a;
  --cinza-claro: #c8c8c8;
  --border: 0.3rem solid #ffffff4d;
  font-size: 10px;
}

/* 


MENU LATERAL


*/

.container-modulo {
  display: flex;
  transition: 0.25s;
}

.menu-lateral {
  width: 220px;
  overflow: hidden;
  background-color: #2b2a2a;
  padding: 2rem;
  transition: 0.25s;
}

.toggle-main:checked ~ .container-modulo .menu-lateral {
  width: 220px;
}

.toggle-main:checked + .menu-btn {
  left: 120px;
}
.modulo-titulo {
  font-size: 2.2rem;
  color: #c8c8c8;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.modulo-sub {
  margin-left: 1rem;
}
.subtopico {
  font-size: 1.9rem;
  color: #fff;
  margin-bottom: 1rem;
  cursor: pointer;
}
.conteudo-principal {
  padding: 4rem;
  color: #c8c8c8;
  min-height: 80vh;
}
.botao {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #706972;
  color: #fff;
  border-radius: 10px;
}

.conteudo-principal {
  transition: 0.25s;
}

/*

CONTEÚDO

*/

.conteudo-principal {
  /* gap: 50px; */
  display: flex;
  align-items: center;
  justify-content: center ;
}

.conteudo_modulo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--cinza-claro);
  color: var(--fundo);
  margin-bottom: 20px;
  padding: 4rem;
  width: 1000px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.conteudo_modulo h2 {
  margin-bottom: 35px;
  /* align-self: flex-start; */
  font-size: 3rem;
}

.conteudo_modulo h3 {
  font-size: 2.7rem;
  margin-bottom: 18px;
}

.conteudo_modulo p {
  font-size: x-large;
}

.conteudo_modulo b {
  color: #7a4242;
}