@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-color: #1c1c1c;
  --fundo: #2b2a2a;
  --cinza-claro: #c8c8c8;
  --border: 0.3rem solid #ffffff4d;
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  text-decoration: none;
  /* todas começam com letra maiúscula */
  text-transform: capitalize;
  transition: 0.2s linear;
  font-family: "Roboto  Serif";
  font-weight: 550;
}

/* body {
  background-color: var(--black);
} */

body {
  background-color: var(--main-color);
  padding-top: 9rem;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  border-bottom: 6px solid;
  border-image: linear-gradient(to right, #fff, #ffffff4d) 1;
  background-color: var(--main-color);
  padding: 1.5rem;
}

.header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.logo {
  padding: 1rem 3rem 1rem 1rem;
  background-color: var(--cinza-claro);
  font-family: "Roboto Serif";
  font-weight: 400;
  font-size: 3rem;
  color: var(--main-color);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.logo:hover {
  color: #473131;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2.1rem;
  margin: 0 1rem;
  font-size: 1.8rem;
  border-radius: 25px;
  background: linear-gradient(
    to right,
    #bbb1b19f 27%,
    #aaaaaa 50%,
    #c2c2c2 80%
  );
  /* box-shadow: 2px 2px 5px rgb(121, 121, 121); */
}

.navbar a {
  /* background-color: var(--cinza-claro); */
  margin: 0 5rem;
  font-size: 1.8rem;
  color: var(--main-color);
  border-radius: 25px;
}

.navbar a:hover {
  color: #473131;
  /* font-size: 1.9rem; */
}

.logincadastro a {
  border-radius: 15px;
  margin: 2rem;
  padding: 0.8rem 2.5rem;
  font-size: 1.8rem;
  background-color: #706972;
  color: #fff;
}

.logincadastro a:hover {
  color: #574a4a;
}

/* 


INÍCIO HOME 


*/

.home-container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background: url("./assets/img/image-home.png") center/cover no-repeat;
}

.content h3 {
  text-transform: none;
  /* color: #c0aeae; */
  color: #918978;
  font-size: 6rem;
  font-family: "Roboto Serif";
  margin: 2rem 0;
  background: linear-gradient(to right, #ffffff 0%, #aaa0a0 55%, #fff);
  background-clip: text;
  color: transparent;
  /* background-color: #1c1c1c;
  border-radius: 10px; */
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 8rem 5rem;
  margin-left: 13rem;
  margin-bottom: 18rem;
  max-width: 100rem;
  /* line-height: 10rem; */
  /* background-color: #1c1c1c;
  border-radius: 10px; */
}

.links-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.links-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1.5rem;
  width: 200px;
  font-size: 2.5rem;
  color: var(--main-color);
  background-color: var(--cinza-claro);
  border-radius: 25px;
}

.links-up {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.links-container a:hover {
  color: #473131;
}

.home-container ::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #1c1c1c 200%,
    /* Aqui eu controle onde começa*/ #1c1c1c 100%
      /* cor da seção de baixo (sobre)*/
  );
}

/*

SOBRE MIM 

*/

.sobre-container1 {
  display: flex;
  /* flex-direction: row; */
  background-color: var(--main-color);
  color: var(--cinza-claro);
  min-height: 100vh;
}

.sobre1 {
  display: flex;
  margin-top: 6rem;
}

.sobre1-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin-top: 6rem;
}

.sobre1-text .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  gap: 15px;
  width: 45%;
  padding: 12rem 5rem;
  background-color: var(--fundo);
  border-radius: 25px;
  /* border: 2px red solid; */
}

.sobre1-text .box h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.sobre1-text .box p {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: none;
  line-height: 3.4rem;
}

.image-eu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.image-eu .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 55%;
  margin-top: 4rem;
  padding: 5rem 0rem;
  background-color: var(--fundo);
  border-radius: 75px;
}

.image-eu img {
  width: 80%;
  border-radius: 25px;
}

/* 


SOBRE2  


*/

.sobre-container2 {
  min-height: 100vh;
  color: var(--cinza-claro);
}

.sobre2 {
  padding-top: 6rem;
  margin-top: 12rem;
  display: flex;
  background-color: var(--main-color);
}
.image-eu2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.image-eu2 .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 55%;
  margin-top: 4rem;
  padding: 5rem 0rem;
  background-color: var(--fundo);
  border-radius: 75px;
}

.image-eu2 img {
  width: 80%;
  border-radius: 25px;
}

.sobre2-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: var(--main-color);
}

.sobre2-text .box {
  gap: 15px;
  width: 45%;
  padding: 12rem 5rem;
  background-color: var(--fundo);
  border-radius: 25px;
}

.sobre2-text .box h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-decoration: underline;
  text-align: center;
}

.sobre2-text .box p {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: none;
  line-height: 3.4rem;
}


/* SOBRE 3*/

.sobre-container3 {
  display: flex;
  /* flex-direction: row; */
  background-color: var(--main-color);
  color: var(--cinza-claro);
  min-height: 100vh;
  padding-bottom:  6rem;
}

.sobre3 {
  display: flex;
  margin-top: 6rem;
}

.sobre3-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin-top: 6rem;
}

.sobre3-text .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  gap: 15px;
  width: 45%;
  padding: 12rem 5rem;
  background-color: var(--fundo);
  border-radius: 25px;
  /* border: 2px red solid; */
}

.sobre3-text .box h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-decoration: underline;
  text-align: center;
}

.sobre3-text .box p {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: none;
  line-height: 3.4rem;
}

.image-eu3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.image-eu3 .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* text-align: center; */
  width: 50%;
  margin-top: 4rem;
  padding: 5rem 0rem;
  background-color: var(--cinza-claro);
  border-radius: 75px;
}

.image-eu3 img {
  width: 80%;
  border-radius: 25px;
}

/* 


Footer


*/

.contatos {
  display: flex;
  align-items:center ;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  border-top: 6px solid ;
  color: var(--cinza-claro);
  min-height: 20vh;
  background-color: var(--main-color);

}

/* .copyright {
  display: flex;
  flex-direction: row;
} */

.email{
    margin-top: 2rem;
}

.email span {
  color: var(--cinza-claro);
  font-size: 2rem;
  font-family: "roboto";
  text-transform: none;
}

.copyright {
  margin-top: 1.6rem;
  font-size: 1.5rem;
}